<form [formGroup]="form">
  <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input 
          formControlName="oldPassword"
          id="oldPassword" 
          type="password" 
          class="form-control">
          <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
              <div *ngIf="oldPassword.errors.required">Old Password is required.</div>
              <div *ngIf="oldPassword.errors.notValid">Old Password is not valid.</div>
          </div>
        <label for="newPassword">New Password</label>
        <input 
            formControlName="newPassword"
            id="newPassword" 
            type="password" 
            class="form-control">
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
            <div *ngIf="newPassword.errors.required">New Password is required.</div>
        </div>
        <label for="confirmPassword">Confirm Password</label>
        <input 
            formControlName="confirmPassword"
            id="confirmPassword" 
            type="password" 
            class="form-control">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors.required">Confirm Password is required.</div>
            <div *ngIf="confirmPassword.errors.notMatched">Password don't matched.</div>
        </div>
  </div>
  <button class="btn btn-primary" type="submit">Change Password</button>
</form>